<h1>Transactions</h1>

<h2> Total </h2>
<p>Your total is $<%= @balance %></p>
<p><%= if @balance < 0
        "I feel bad for you. Please make more money."
      end
    %></p>

<p>You have <%= @num_transactions%> transactions</p>

<table>
  <thead>
    <tr>
      <th>Transactions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.deposit %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
